@import '../utils/vars';

%clientage {
  display: flex;
  justify-content: center;
}

.clientage {
  &__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    @extend %clientage;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__link {
    @extend %clientage;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: $--brand-color2;
    border-color: $--brand-color2;
  }

  &__svg {
    fill: currentColor;
  }
}
