@import '../../utils/vars';

.people {
  &__list {
    @media screen and (min-width: 0px) and (max-width: 480px) {
      text-decoration: none;
      list-style: none;
      display: flex;
      gap: 30px;
      flex-direction: column;
    }
  }

  &__list {
    @media screen and (min-width: 480px) and (max-width: 768px) {
      justify-content: center;
    }
  }

  &__wraper {
    @media screen and (min-width: 0px) and (max-width: 480px) {
      padding-bottom: 24px;
    }
  }
}

.ihor_demyanenko {
  @media screen and (min-width: 0px) and (max-width: 480px) {
    width: 100%;
    height: 100%;
  }
}

.olga_repina {
  @media screen and (min-width: 0px) and (max-width: 480px) {
    width: 100%;
    height: 100%;
  }
}

.mykola_tarasov {
  @media screen and (min-width: 0px) and (max-width: 480px) {
    width: 100%;
    height: 100%;
  }
}

.mykhailo_yermakov {
  @media screen and (min-width: 0px) and (max-width: 480px) {
    width: 100%;
    height: 100%;
  }
}
