@import '../../utils/vars';

.project {
  &__list {
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
  }

  &__team {
    border: 1px solid #ececec;
  }

  &__link {
    text-decoration: none;
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
  }

  &__boxes {
    position: relative;
    width: 370px;
    height: 294px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  &__boxes:hover &__box {
    transform: translatex(0);
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 90%);
    transform: translatey(+100%);
    transition: transform 250ms ease;
    padding: 63px 24px;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: $--text-button-color;
  }

  &__title {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: $--text-cl;
    padding-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
  }

  &__text {
    font-size: 16px;
    line-height: calc(30 / 16);
    color: $--text-cl2;
    padding-bottom: 20px;
    padding-left: 24px;
  }
}
