@import '../../utils/vars';

.qualities {
  &__list {
    @media screen and (min-width: 0px) and (max-width: 480px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__acquirement {
    @media screen and (min-width: 0px) and (max-width: 480px) {
      line-height: calc(16 / 14);
      text-align: center;
    }
  }
}
