@import '../../utils/vars';

.register-form {
  @media screen and (min-width: 321px) and (max-width: 480px) {
    width: 450px;
    background-color: $--text-button-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    border-radius: 4px;
  }
}

.register-form {
  @media screen and (min-width: 0px) and (max-width: 320px) {
    width: 95%;
    padding: 10px 20px;
    background-color: $--text-button-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    border-radius: 4px;
  }
}

.register-form {
  &__btn {
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $--text-button-color;
    border: 1px solid rgba(0, 0, 0, 10%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__btn:hover,
  &__btn:focus {
    fill: $--brand-color2;
  }

  &__btn::disabled {
    background-color: transparent;
    color: gray;
  }

  &__x {
    color: $--text-cl;
  }

  &__title {
    @media screen and (min-width: 0px) and (max-width: 320px) {
      font-weight: 700;
      font-size: 20px;
      line-height: calc(30 / 20);
      text-align: center;
      display: block;
      color: $--text-cl;
      margin-bottom: 12px;
      letter-spacing: 0.03em;
    }
  }

  &__group {
    margin-bottom: 30px;
  }

  &__field {
    display: block;
    margin-bottom: 10px;
    position: relative;
  }

  &__label {
    font-size: 12px;
    display: block;
    margin-bottom: 4px;
  }

  &__input::invalid {
    outline-color: red;
  }

  &__input::valid {
    outline-color: $--brand-color2;
  }

  &__input::required {
    outline-color: red;
  }

  &__input::optional {
    outline-color: grey;
  }

  &__input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #21212133;
    padding-left: 42px;
    padding-right: 42px;
    outline: transparent;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input:focus {
    border: 1px solid $--brand-color2;
  }

  &__input:focus + .register-form__icon {
    fill: $--brand-color2;
  }

  &__input:focus-visible {
    border: 1px solid $--brand-color2;
  }

  &__icon {
    position: absolute;
    bottom: 14px;
    left: 15px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icons {
    @media screen and (min-width: 0px) and (max-width: 320px) {
      width: 40px;
      height: 40px;
    }
  }

  &__message {
    display: block;
    height: 120px;
    resize: none;
    outline: transparent;
    border: 1px solid #21212133;
    width: 100%;
    border-radius: 4px;
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 12px;
    font-size: 12px;
    cursor: pointer;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__message::placeholder {
    font-size: 12px;
  }

  &__message:focus {
    border-color: $--brand-color2;
  }

  &__agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__checked {
    opacity: 0;
    transition: opacity 250ms;
  }

  &__unchecked {
    opacity: 1;
    transition: opacity 250ms;
  }

  &__checkbox:checked + &__icons &__checked {
    opacity: 1;
  }

  &__checkbox:checked + &__icons &__unchecked {
    opacity: 0;
  }

  &__desc {
    @media screen and (min-width: 321px) and (max-width: 480px) {
      user-select: none;
      font-size: 12px;
      line-height: 14px;
      color: $--text-cl2;
    }
  }

  &__desc {
    @media screen and (min-width: 0px) and (max-width: 320px) {
      user-select: none;
      font-size: 11px;
      line-height: 24px;
      color: $--text-cl2;
    }
  }

  &__link {
    @media screen and (min-width: 0px) and (max-width: 480px) {
      font-size: 12px;
      line-height: calc(14 / 12);
      color: $--brand-color2;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
  }
}
