@import '../../utils/vars';

.hero {
  @media screen and (min-width: 481px) and (max-width: 768px) {
    background-color: $--brand-color;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(49, 48, 58, 0.4), rgba(49, 48, 58, 0.4)),
      url(../images/picture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero__name {
  @media screen and (min-width: 481px) and (max-width: 768px) {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $--text-button-color;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    margin-bottom: 30px;
  }
}
