@import '../../utils/vars';

.people {
  &__section {
    background-color: $--button-assortment-background-color;
  }

  &__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    @media screen and (min-width: 481px) and (max-width: 768px) {
      flex-wrap: wrap;
      text-decoration: none;
      list-style: none;
      display: flex;
      gap: 30px;
    }
  }

  &__specialist {
    background: $--text-button-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__wraper {
    padding-bottom: 30px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
  }

  &__profession {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: $--text-cl2;
    margin-bottom: 16px;
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__network {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__network:focus,
  &__network:hover {
    color: $--text-button-color;
    background-color: $--brand-color2;
  }

  &__social {
    fill: currentColor;
  }
}
