@import '../../utils/vars';

.qualities {
  &__list {
    @media screen and (min-width: 481px) and (max-width: 769px) {
      display: flex;

      justify-content: center;
    }
  }

  &__item {
    @media screen and (min-width: 481px) and (max-width: 769px) {
      width: 354px;
    }
  }
}
