$--text-cl: #212121;
$--text-cl2: #757575;
$--brand-color: #2f303a;
$--brand-color2: #2196f3;
$--text-button-color: #ffffff;
$--button-assortment-background-color: #f5f4fa;
$Raleway: 'Raleway';
$Roboto: 'Roboto';
$sans-serif: 'sans-serif';
